---
import siteConfig from "@/site.config";
---

<footer class="border-border mt-20 border-t py-8 ">
  <div class="app-layout">
    <div class="flex flex-col items-center justify-between gap-4 text-sm sm:flex-row sm:items-center">
      <!-- Copyright -->
      <div class="order-last">
        <p class="text-muted-foreground font-code tabular-nums">
        &copy; {new Date().getFullYear()}{" "}
        {siteConfig.author}
        </p>
      </div>

      <!-- Social Links -->
      {
        siteConfig.social.length > 0 && (
          <div class="order-1">
            <nav
              aria-label="Social links"
              class="flex flex-wrap text-sm font-code items-center gap-4"
            >
              {siteConfig.social.map((item) => (
                <a
                  href={item.url}
                  target="_blank"
                  rel="noopener noreferrer me"
                  aria-label={`${item.title} (opens in new tab)`}
                  class="text-muted-foreground hover:text-foreground lowercase transition-colors"
                >
                  {item.title}
                </a>
              ))}
            </nav>
          </div>
        )
      }
    </div>
  </div>
</footer>